[core]
	pager = less --LINE-NUMBERS --chop-long-lines --use-color --shift 20 --tabs 4

[init]
	defaultBranch = main

# Only allow fast-forward pulls by default.
[pull]
	ff = only

[push]
	default = simple

[user]
	name = Xudong Zheng

	# In a new repository, do not automatically generate the email address based
	# on the username and hostname. The email must be manually configured before
	# allowing the commit.
	useConfigOnly = true

# For security reasons, Git does not allow operations on a repository owned by
# another user by default. On machines where this repository is shared between
# multiple users, make exception for repository.
[safe]
	directory = /opt/dot
