[core]
	pager = less -x4

[init]
	defaultBranch = main

# When local and remote branches diverge, automatically rebase local changes on
# top of remote branch when pulling.
[pull]
	rebase = true

[push]
	default = simple

[user]
	name = Xudong Zheng

	# In a new repository, do not automatically generate the email address based
	# on the username and hostname. The email must be manually configured before
	# allowing the commit.
	useConfigOnly = true
