# Enable 256-color support.
XTerm.termName: xterm-256color

! Set cursor size. Otherwise, it occasionally appears larger in graphical
! programs such as Firefox.
Xcursor.size: 24

! Set font hinting to make font rendering in Debian consistent with other
! operating systems.
Xft.hintstyle: hintslight

! Configure xterm to use the system clipboard.
XTerm.vt100.selectToClipboard: true

! Configure double click selection behavior per https://goo.gl/pBSEHp.
XTerm.vt100.charClass: 33:48,35:48,37-38:48,43-47:48,58:48,61:48,63-64:48,95:48,126:48

! Enable Alt-B and Alt-F for navigating back/forward a word per
! https://bit.ly/3X8BuPt.
XTerm.vt100.metaSendsEscape: true
